* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}
body {
    font-family: "Inter", sans-serif;
    background-color: #000;
}
nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    background-color: #111111;
    padding: 20px;
}
.nav-left-section {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-left-section h2 {
    font-family: "Archivo Black", sans-serif;
    font-size: 2.4rem;
    color: #ffffff;
    font-weight: bold;
}
.nav-left-section img {
    width: 150px;
    height: 50px;
    margin-right: 10px;
    filter: invert(1);
}
.nav-right-section {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.nav-right-section a {
    text-decoration: none;
    color: #ffffff;
    margin: 0 20px;
    font-size: 1.8rem;
    font-weight: bold;
}
.main-ca-container {
    width: 100%;
    height: 500px;
    background-image: url("./img/arcic-monkys.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.ca-main--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.265);
    border-radius: 20px;
    padding: 10px;
}
.ca-main--container h1 {
    font-family: "Archivo Black", sans-serif;
    font-size: 4.8rem;
    color: #111111;
    margin-bottom: 10px;
    font-weight: bold;
}
.ca-main--container p {
    font-size: 1.8rem;
    color: #fff;
    font-weight: 300;
    margin-bottom: 30px;
}
.ca-main--container input {
    width: 50%;
    height: 50px;
    border: none;
    border-radius: 15px;
    margin-bottom: 15px;
    outline: none;
    padding: 20px;
    font-size: 2rem;
    color: #000;
    background-color: #d0d0d0;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.ca-main--container input::placeholder {
    color: #000;
}
.ca-main--container span {
    background-color: #d0d0d0;
    width: 25%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.ca-main--container span a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 1.8rem;
}
.ca-main--container span:hover {
    cursor: pointer;
}
.main-products-container {
    width: 1200px;
    height: auto;
    margin: 50px auto 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #111111;
    border-radius: 15px;
}
.products-container--title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main-cards--title {
    margin: 30px 0 10px 0;
    font-family: "Archivo Black", sans-serif;
    font-size: 3rem;
    color: #fff;
}
.main-cards--info {
    font-size: 1.8rem;
    color: #fff;
    font-weight: 300;
    margin-bottom: 30px;
}
.main-cards-container {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 30px 0;
}
.product-cards--container {
    margin: 0 20px;
}
.product-cards--container img {
    width: 300px;
    height: 300px;
    border-radius: 15px;
}
.product-cards--container h3 {
    font-size: 2.4rem;
    color: #fff;
    font-weight: bold;
}
.product-cards--container .price {
    font-size: 2rem;
    color: #fff;
    margin: 3px 0 10px;
    font-weight: bold;
}
.product-cards--container p {
    font-size: 1.8rem;
    color: #fff;
    font-weight: 300;
}
