* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}
html {
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    display: none;
}
body {
    font-family: "Inter", sans-serif;
    background-color: #000;
}
.return {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url("./img/arrow-up.png");
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    background-color: #d0d0d0;
    transition: 0.3s;
}
.return:hover {
    cursor: pointer;
    transition: 0.3s;
    transform: scale(0.9);
}
nav {
    display: flex;
    width: 100%;
    height: auto;
    background-color: #111111;
    padding: 20px 0;
}
.nav-left-section {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-left-section h2 {
    font-family: "Archivo Black", sans-serif;
    font-size: 2.4rem;
    color: #ffffff;
    font-weight: bold;
}
.nav-left-section img {
    width: 150px;
    height: 50px;
    margin-right: 10px;
    filter: invert(1);
}
.nav-right-section {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.nav-right-section a {
    text-decoration: none;
    color: #ffffff;
    margin: 0 20px;
    font-size: 1.8rem;
    font-weight: bold;
}
.email-card-container {
    width: 100%;
    height: 500px;
    background-image: url("./img/arcic-monkys.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ca-main--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: auto;
    height: 51%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.265);
    border-radius: 20px;
}
.ca-main--container h1 {
    font-family: "Archivo Black", sans-serif;
    font-size: 4.8rem;
    color: #111111;
    margin-bottom: 10px;
    font-weight: bold;
}
.ca-main--container p {
    font-size: 1.8rem;
    color: #fff;
    font-weight: 300;
    margin: 0 10px 30px 10px;
}
.ca-main--container input {
    width: 50%;
    height: 50px;
    border: none;
    border-radius: 15px;
    margin-bottom: 15px;
    outline: none;
    padding: 20px;
    font-family: "Inter", "sans-serif";
    font-size: 2rem;
    background-color: #d0d0d0;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.ca-main--container input::placeholder {
    color: #000;
    font-weight: 500;
    font-family: "Inter", "sans-serif";
}
.ca-main--container span {
    background-color: rgba(255, 255, 255, 0.265);
    transition: 0.3s;
    width: 25%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    border: 3px solid #d0d0d0;
}
.ca-main--container span a {
    font-family: "Archivo Black", sans-serif;
    text-decoration: none;
    color: #000;
    font-size: 2rem;
    padding: 10px;
}
.ca-main--container span:hover {
    cursor: pointer;
    background-color: #d0d0d0;
    transition: 0.3s;
    transform: scale(0.9);
}
.ca-main--container span:hover a {
    color: #111;
}
.main-section-container {
    width: 1200px;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: #111111;
    border-radius: 15px;
}
.first-section-container {
    margin: 50px auto 0;
}
.title--container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-cards--title {
    margin: 30px 0 10px 0;
    font-family: "Archivo Black", sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
}
.main-cards--info {
    font-size: 1.8rem;
    color: #fff;
    font-weight: 300;
    margin-bottom: 30px;
}
.main-cards-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px 0 30px 0;
}
.product-cards--container {
    width: 360px;
    height: 100%;
    margin: 0 20px;
}
.products--image {
    width: 360px;
    height: 300px;
    border-radius: 15px;
    object-fit: cover;
}
.product-cards--container h3 {
    font-size: 2.6rem;
    color: #fff;
    font-weight: bold;
    margin: 10px 0 5px;
}
.product-cards--container .price {
    font-size: 1.8rem;
    color: #fff;
    margin: 0 0 10px 0;
    font-weight: bold;
}
.product-cards--container p {
    font-size: 1.8rem;
    color: #fff;
    font-weight: 300;
}
.main-products--button {
    width: 270px;
    height: 50px;
    margin: 0 auto 40px;
    border-radius: 15px;
    transition: 0.3s;
    font-size: 2rem;
    background-color: #111111;
    border: 3px solid #d0d0d0;
    font-family: "Archivo Black", sans-serif;
    color: #d0d0d0;
    font-size: 2rem;
    font-weight: bold;
}
.main-products--button:hover {
    cursor: pointer;
    background-color: #d0d0d0;
    color: #111111;
    transition: 0.3s;
    transform: scale(0.9);
}
.main-division--container {
    width: 100%;
    height: 300px;
}
.main-division--container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main-news--container {
    width: 100%;
    height: auto;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
}
.first--news-container {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    margin-left: 20px;
}
.first--news-container img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 10px;
}
.news--big-title {
    margin: 5px 0 10px 0;
}
.news--big-info {
    margin-bottom: 20px;
}
.first--news-container a {
    color: #d0d0d0;
    font-size: 1.8rem;
    font-weight: bold;
    transition: 0.3s;
}
.first--news-container a:hover {
    color: #fff;
    transition: 0.3s;
}
.second--news-container {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: 0.7fr 1fr;
    grid-template-rows: auto auto 1fr;
    column-gap: 20px;
    margin-right: 20px;
}
.third--news-container {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: 0.7fr 1fr;
    grid-template-rows: auto auto 1fr;
    column-gap: 20px;
    margin-right: 20px;
}
.news--small-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    border-radius: 10px;
}
.news--small-title {
    margin: 0 0 10px;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
}
.news--small-info {
    margin-bottom: 0;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
}
.tag--container {
    width: 100%;
    height: auto;
    display: flex;
    margin: 10px 0 0 0;
    justify-content: start;
}
.article-news--tag {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
    width: 35%;
    height: 30px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: 500;
    color: #fff;
    border-radius: 8px;
    background-color: #d0d0d0;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.main-gallery-container {
    height: 800px;
    width: 1160px;
    margin: 0 auto 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 10px;
    column-gap: 10px;
}
.first--big-image {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.first--horizontal-image {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 5;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.second--horizontal-image {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.second--big-image {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 5;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.main-contact-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-bottom: 40px;
}
.main-form-container {
    width: 50%;
    height: 100%;
    margin: 0px 10px 0 20px;
}
form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
    height: 60px;
}
.nombre,
.celular {
    padding-right: 20px;
}
.apellido,
.pais {
    padding-left: 20px;
}
form div label {
    font-size: 1.8rem;
    color: #fff;
    font-weight: 300;
    margin-bottom: 5px;
}
form div input {
    width: 100%;
    height: 100%;
    font-family: "Inter", "sans-serif";
    font-size: 1.8rem;
    font-weight: 500;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 0 0 0 5px;
    color: #000;
    background-color: #d0d0d0;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
form div select {
    width: 100%;
    height: 100%;
    font-family: "Inter", "sans-serif";
    font-size: 1.8rem;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 0 0 0 5px;
    color: #000;
    background-color: #d0d0d0;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
select optgroup {
    font-size: 1.8rem;
}
select option {
    font-size: 1.8rem;
}
.comentary-container {
    width: 100%;
    height: 130px;
}
#comentary--input {
    width: 100%;
    height: 100%;
    font-size: 1.8rem;
    border: none;
    outline: none;
    font-family: "Inter", sans-serif;
    border-radius: 5px;
    padding: 5px 0 0 5px;
    color: #000;
    background-color: #d0d0d0;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    resize: none;
}
form button {
    background-color: #111111;
    width: 100%;
    height: 50px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-family: "Archivo Black", sans-serif;
    color: #d0d0d0;
    font-size: 2rem;
    font-weight: bold;
    border: 3px solid #d0d0d0;
    transition: 0.3s;
}
form button:hover {
    cursor: pointer;
    background-color: #d0d0d0;
    color: #111111;
    transition: 0.3s;
    transform: scale(0.9);
}
.main-table-container {
    width: 50%;
    height: 100%;
    margin: 0 20px 0 10px;
    display: flex;
    align-items: center;
}
.main-table-container table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}
.table-title {
    font-family: "Archivo Black", sans-serif;
    font-size: 2.6rem;
    color: #fff;
    font-weight: bold;
    text-align: center;
}
tr {
    height: 50px;
}
tr td {
    font-size: 1.6rem;
    color: #fff;
    font-weight: 300;
    text-align: center;
    border-bottom: #fff solid 3px;
}
.verticaltxt {
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-size: 1.8rem;
    font-weight: bold;
    padding: 10px;
}
footer {
    margin-top: 50px;
    width: 100%;
    height: 300px;
    background-color: #111111;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-footer-container {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-footer-container p {
    margin-top: 30px;
    font-size: 2.3rem;
    color: #fff;
    font-weight: 300;
}
.main-footer-container p strong {
    font-size: 2.3rem;
    font-weight: bold;
}
.main-footer-container ul {
    display: flex;
}
.main-footer-container ul li {
    width: 64px;
    height: 64px;
    margin: 0 10px;
    background-image: url("./img/social-media.png");
    background-repeat: no-repeat;
    list-style: none;
}
.main-footer-container ul li:nth-child(1) {
    background-position: 0 0;
}
.main-footer-container ul li:nth-child(1):hover {
    background-position: 0 -64px;
    cursor: pointer;
}
.main-footer-container ul li:nth-child(2) {
    background-position: -64px 0;
    cursor: pointer;
}
.main-footer-container ul li:nth-child(2):hover {
    background-position: -64px -64px;
}